.booking{
    display: flex;
    justify-content: center;
    text-align: justify;
    padding-top: 30px;
    animation-delay: 500ms;
}

.bottom{
    padding-bottom: 100px;
}

.banner-container{
    display: grid;
    grid-template-columns: 1fr;
}

@media only screen and (max-width: 688px){
    .banner-container{
        padding-top: 20px;
        margin-top: 20px;
        grid-template-columns: 1fr;
    }
}
