.item{
    text-align: left;
    padding-left: 10px;
    padding-top: 30px;
}

.item2{
    color: darkgray;
    
}

.item2 a{
    color: darkgray;
    
}

.item2:hover, .item2:hover a{
    color: white;
}


/* @media only screen and (max-width: 688px){
 .item{
       display: grid;
       grid-template-columns: repeat(1, 1fr);

    }
}

@media only screen and (min-width: 689px) and (max-width: 991px){
    .item{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 992px) and (max-width: 1312px){
    .item{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-left: 0;
    }
} */