.add-service form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-service input, textarea{
    width: 70%;
    margin-bottom: 20px;
    padding-top: 20px;
}

.animate{
    animation-delay: 500ms;
}